body {
    font-family: calibri !important;
    font-size: 17px!important;
}

ul,
li {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

header {
    box-shadow: 2px 2px 8px rgba(0 0 0/20%);
}

.product_card {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 2px 2px 8px rgba(0 0 0/20%), -2px -2px 8px rgba(0 0 0/20%);
}

.product_img {
    border-radius: 0 !important;
    overflow: hidden;
}

.product_card .product_img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all ease-out .4s;
    filter: brightness(0.9);
}

.product_card:hover img {
    transform: scale(1.1);
    filter: brightness(1);
}

.sub_img img {
    transition: all .5s;
}

.sub_img img:hover {
    transform: scale(1.2);
    border: 1px solid #fd7e14;
    box-shadow: 1px 1px 3px #fd7e14, -1px -1px 3px #fd7e14;
}

.search_bar {
    position: relative;
}

.search_bar button {
    position: absolute;
    top: 3px;
    right: 3px;
}

#search {
    padding: 9px;
}

input#search:focus {
    box-shadow: none;
}

